USE [master]
GO
/****** Object:  Database [URBAN_FOOD_HUB_V2]    Script Date: 6/22/2024 9:10:39 AM ******/
CREATE DATABASE [URBAN_FOOD_HUB_V2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'URBAN_FOOD_HUB_V2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS_DUYMA\MSSQL\DATA\URBAN_FOOD_HUB_V2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'URBAN_FOOD_HUB_V2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS_DUYMA\MSSQL\DATA\URBAN_FOOD_HUB_V2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [URBAN_FOOD_HUB_V2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [URBAN_FOOD_HUB_V2]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[accID] [varchar](255) NOT NULL,
	[firstname] [nvarchar](255) NULL,
	[lastname] [nvarchar](255) NULL,
	[birthday] [date] NULL,
	[email] [varchar](255) NULL,
	[phone] [varchar](50) NULL,
	[statusID] [int] NULL,
	[createdDate] [date] NULL,
	[email_unique]  AS (case when [email] IS NULL then [accID] else [email] end),
	[phone_unique]  AS (case when [phone] IS NULL then [accID] else [phone] end),
	[avatar] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[accID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_email] UNIQUE NONCLUSTERED 
(
	[email_unique] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_phone] UNIQUE NONCLUSTERED 
(
	[phone_unique] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AddressDelivery]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddressDelivery](
	[addressID] [varchar](255) NOT NULL,
	[addressDetail] [nvarchar](255) NULL,
	[accID] [varchar](255) NULL,
	[statusID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[addressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryMaterial]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryMaterial](
	[CateID] [varchar](255) NOT NULL,
	[CateName] [nvarchar](255) NULL,
	[CateStatus] [bit] NULL,
	[CatgeImg] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryMeal]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryMeal](
	[cateID] [varchar](255) NOT NULL,
	[cateName] [nvarchar](255) NULL,
	[CateStatus] [bit] NULL,
	[CatgeImg] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[cateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cateName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryMealPlan]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryMealPlan](
	[cateID] [varchar](255) NOT NULL,
	[cateName] [nvarchar](255) NOT NULL,
	[cateImg] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[cateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cateName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IntructionMeal]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntructionMeal](
	[instID] [varchar](255) NOT NULL,
	[mealID] [varchar](255) NULL,
	[instrName] [nvarchar](255) NULL,
	[instrDesc] [nvarchar](max) NULL,
	[createdDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[instID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[MateSKU] [varchar](255) NOT NULL,
	[CateID] [varchar](255) NULL,
	[MateName] [nvarchar](255) NULL,
	[MateDesc] [nvarchar](255) NULL,
	[Price] [float] NULL,
	[PackagingSpec] [nvarchar](255) NULL,
	[Stock] [float] NULL,
	[CreatedDate] [date] NULL,
	[MateStatus] [int] NULL,
	[MateImg] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MateSKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meal]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meal](
	[mealID] [varchar](255) NOT NULL,
	[CateID] [varchar](255) NULL,
	[mealName] [nvarchar](255) NULL,
	[mealDesc] [nvarchar](1000) NULL,
	[nutritionValue] [nvarchar](1000) NULL,
	[shelfLife] [nvarchar](1000) NULL,
	[preparationTime] [nvarchar](1000) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[stock] [int] NULL,
	[createdDate] [date] NULL,
	[statusID] [int] NULL,
	[mealImg] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[mealID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MealDetail]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealDetail](
	[detailID] [varchar](255) NOT NULL,
	[mealID] [varchar](255) NULL,
	[materialID] [varchar](255) NULL,
	[quantity] [float] NULL,
	[unitMaterial] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[detailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MealPlan]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealPlan](
	[mealPlanID] [varchar](255) NOT NULL,
	[cateID] [varchar](255) NULL,
	[planName] [nvarchar](255) NULL,
	[planDesc] [nvarchar](1000) NULL,
	[startDate] [date] NULL,
	[endDate] [date] NULL,
	[planImg] [varchar](255) NULL,
	[statusID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[mealPlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MealPlanDetail]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealPlanDetail](
	[detailID] [varchar](255) NOT NULL,
	[mealPlanID] [varchar](255) NULL,
	[mealID] [varchar](255) NULL,
	[mealTimeID] [int] NULL,
	[mealDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[detailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MealPlanStatus]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealPlanStatus](
	[statusID] [int] NOT NULL,
	[statusName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[statusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MealTimes]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealTimes](
	[id] [int] NOT NULL,
	[time_name] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orderID] [varchar](255) NOT NULL,
	[accID] [varchar](255) NULL,
	[orderDate] [date] NULL,
	[statusID] [int] NULL,
	[deliveryAddID] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[oDetailID] [varchar](255) NOT NULL,
	[orderID] [varchar](255) NULL,
	[productID] [varchar](255) NULL,
	[quantity] [int] NULL,
	[unitPrice] [decimal](10, 2) NULL,
	[typeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[oDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[statusID] [int] NOT NULL,
	[statusName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[statusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalMealTimes]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalMealTimes](
	[id] [int] NOT NULL,
	[time_name] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalPlan]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalPlan](
	[mealPlanID] [varchar](255) NOT NULL,
	[accID] [varchar](255) NULL,
	[planName] [nvarchar](255) NULL,
	[planDesc] [nvarchar](1000) NULL,
	[startDate] [date] NULL,
	[endDate] [date] NULL,
	[planImg] [varchar](255) NULL,
	[statusID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[mealPlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalPlanDetail]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalPlanDetail](
	[detailID] [varchar](255) NOT NULL,
	[mealPlanID] [varchar](255) NULL,
	[mealID] [varchar](255) NULL,
	[mealTimeID] [int] NULL,
	[mealDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[detailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalStatusPlan]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalStatusPlan](
	[statusID] [int] NOT NULL,
	[statusName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[statusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[typeID] [int] NOT NULL,
	[typeName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[typeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleAccount]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleAccount](
	[roleID] [int] NOT NULL,
	[roleName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusAccount]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusAccount](
	[statusID] [int] NOT NULL,
	[statusName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusAddress]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusAddress](
	[statusID] [int] NOT NULL,
	[statusName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusMaterial]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusMaterial](
	[StatusID] [int] NOT NULL,
	[StatusName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusMeal]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusMeal](
	[statusID] [int] NOT NULL,
	[statusName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[accID] [varchar](255) NOT NULL,
	[username] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[roleID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[accID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_User_Username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((1)) FOR [statusID]
GO
ALTER TABLE [dbo].[CategoryMaterial] ADD  DEFAULT ((1)) FOR [CateStatus]
GO
ALTER TABLE [dbo].[CategoryMeal] ADD  DEFAULT ((1)) FOR [CateStatus]
GO
ALTER TABLE [dbo].[USER] ADD  DEFAULT ((2)) FOR [roleID]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_AccInFo_AccStatus] FOREIGN KEY([statusID])
REFERENCES [dbo].[StatusAccount] ([statusID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_AccInFo_AccStatus]
GO
ALTER TABLE [dbo].[AddressDelivery]  WITH CHECK ADD  CONSTRAINT [FK_AddressDelivery_Account] FOREIGN KEY([accID])
REFERENCES [dbo].[Account] ([accID])
GO
ALTER TABLE [dbo].[AddressDelivery] CHECK CONSTRAINT [FK_AddressDelivery_Account]
GO
ALTER TABLE [dbo].[AddressDelivery]  WITH CHECK ADD  CONSTRAINT [FK_AddressDelivery_StatusAddress] FOREIGN KEY([statusID])
REFERENCES [dbo].[StatusAddress] ([statusID])
GO
ALTER TABLE [dbo].[AddressDelivery] CHECK CONSTRAINT [FK_AddressDelivery_StatusAddress]
GO
ALTER TABLE [dbo].[IntructionMeal]  WITH CHECK ADD  CONSTRAINT [FK_InstrMeal_Meal] FOREIGN KEY([mealID])
REFERENCES [dbo].[Meal] ([mealID])
GO
ALTER TABLE [dbo].[IntructionMeal] CHECK CONSTRAINT [FK_InstrMeal_Meal]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Mate_MateCate] FOREIGN KEY([CateID])
REFERENCES [dbo].[CategoryMaterial] ([CateID])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Mate_MateCate]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Mate_MateStatus] FOREIGN KEY([MateStatus])
REFERENCES [dbo].[StatusMaterial] ([StatusID])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Mate_MateStatus]
GO
ALTER TABLE [dbo].[Meal]  WITH CHECK ADD  CONSTRAINT [FK_Meal_CateMeal] FOREIGN KEY([CateID])
REFERENCES [dbo].[CategoryMeal] ([cateID])
GO
ALTER TABLE [dbo].[Meal] CHECK CONSTRAINT [FK_Meal_CateMeal]
GO
ALTER TABLE [dbo].[Meal]  WITH CHECK ADD  CONSTRAINT [FK_Meal_StatusMeal] FOREIGN KEY([statusID])
REFERENCES [dbo].[StatusMeal] ([statusID])
GO
ALTER TABLE [dbo].[Meal] CHECK CONSTRAINT [FK_Meal_StatusMeal]
GO
ALTER TABLE [dbo].[MealDetail]  WITH CHECK ADD  CONSTRAINT [FK_MealDetail_Material] FOREIGN KEY([materialID])
REFERENCES [dbo].[Material] ([MateSKU])
GO
ALTER TABLE [dbo].[MealDetail] CHECK CONSTRAINT [FK_MealDetail_Material]
GO
ALTER TABLE [dbo].[MealDetail]  WITH CHECK ADD  CONSTRAINT [FK_MealDetail_Meal] FOREIGN KEY([mealID])
REFERENCES [dbo].[Meal] ([mealID])
GO
ALTER TABLE [dbo].[MealDetail] CHECK CONSTRAINT [FK_MealDetail_Meal]
GO
ALTER TABLE [dbo].[MealPlan]  WITH CHECK ADD  CONSTRAINT [FK_MealPlan_CateMealPlan] FOREIGN KEY([cateID])
REFERENCES [dbo].[CategoryMealPlan] ([cateID])
GO
ALTER TABLE [dbo].[MealPlan] CHECK CONSTRAINT [FK_MealPlan_CateMealPlan]
GO
ALTER TABLE [dbo].[MealPlan]  WITH CHECK ADD  CONSTRAINT [FK_MealPlan_MealPlanStatus] FOREIGN KEY([statusID])
REFERENCES [dbo].[MealPlanStatus] ([statusID])
GO
ALTER TABLE [dbo].[MealPlan] CHECK CONSTRAINT [FK_MealPlan_MealPlanStatus]
GO
ALTER TABLE [dbo].[MealPlanDetail]  WITH CHECK ADD  CONSTRAINT [FK_MealPlanDetail_MealTimes] FOREIGN KEY([mealTimeID])
REFERENCES [dbo].[MealTimes] ([id])
GO
ALTER TABLE [dbo].[MealPlanDetail] CHECK CONSTRAINT [FK_MealPlanDetail_MealTimes]
GO
ALTER TABLE [dbo].[MealPlanDetail]  WITH CHECK ADD  CONSTRAINT [FK_PlanDetail_Meal] FOREIGN KEY([mealID])
REFERENCES [dbo].[Meal] ([mealID])
GO
ALTER TABLE [dbo].[MealPlanDetail] CHECK CONSTRAINT [FK_PlanDetail_Meal]
GO
ALTER TABLE [dbo].[MealPlanDetail]  WITH CHECK ADD  CONSTRAINT [FK_PlanDetail_MealPlan] FOREIGN KEY([mealPlanID])
REFERENCES [dbo].[MealPlan] ([mealPlanID])
GO
ALTER TABLE [dbo].[MealPlanDetail] CHECK CONSTRAINT [FK_PlanDetail_MealPlan]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([accID])
REFERENCES [dbo].[Account] ([accID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_AddressDelivery] FOREIGN KEY([deliveryAddID])
REFERENCES [dbo].[AddressDelivery] ([addressID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_AddressDelivery]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_OrderStatus] FOREIGN KEY([statusID])
REFERENCES [dbo].[OrderStatus] ([statusID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_OrderStatus]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([orderID])
REFERENCES [dbo].[Order] ([orderID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_ProductType] FOREIGN KEY([typeID])
REFERENCES [dbo].[ProductType] ([typeID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_ProductType]
GO
ALTER TABLE [dbo].[PersonalPlan]  WITH CHECK ADD  CONSTRAINT [FK_MealPlan_Account] FOREIGN KEY([accID])
REFERENCES [dbo].[Account] ([accID])
GO
ALTER TABLE [dbo].[PersonalPlan] CHECK CONSTRAINT [FK_MealPlan_Account]
GO
ALTER TABLE [dbo].[PersonalPlan]  WITH CHECK ADD  CONSTRAINT [FK_MealPlan_PersonalStatusPlan] FOREIGN KEY([statusID])
REFERENCES [dbo].[PersonalStatusPlan] ([statusID])
GO
ALTER TABLE [dbo].[PersonalPlan] CHECK CONSTRAINT [FK_MealPlan_PersonalStatusPlan]
GO
ALTER TABLE [dbo].[PersonalPlanDetail]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Meal] FOREIGN KEY([mealID])
REFERENCES [dbo].[Meal] ([mealID])
GO
ALTER TABLE [dbo].[PersonalPlanDetail] CHECK CONSTRAINT [FK_Detail_Meal]
GO
ALTER TABLE [dbo].[PersonalPlanDetail]  WITH CHECK ADD  CONSTRAINT [FK_MealPlanDetail_PersonalMealTimes] FOREIGN KEY([mealTimeID])
REFERENCES [dbo].[PersonalMealTimes] ([id])
GO
ALTER TABLE [dbo].[PersonalPlanDetail] CHECK CONSTRAINT [FK_MealPlanDetail_PersonalMealTimes]
GO
ALTER TABLE [dbo].[PersonalPlanDetail]  WITH CHECK ADD  CONSTRAINT [FK_PlanDetail_PersonalPlan] FOREIGN KEY([mealPlanID])
REFERENCES [dbo].[PersonalPlan] ([mealPlanID])
GO
ALTER TABLE [dbo].[PersonalPlanDetail] CHECK CONSTRAINT [FK_PlanDetail_PersonalPlan]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_User_Account] FOREIGN KEY([accID])
REFERENCES [dbo].[Account] ([accID])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_User_Account]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_User_RoleAccount] FOREIGN KEY([roleID])
REFERENCES [dbo].[RoleAccount] ([roleID])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_User_RoleAccount]
GO
/****** Object:  StoredProcedure [dbo].[DeleteExpiredSessions]    Script Date: 6/22/2024 9:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteExpiredSessions]
AS
BEGIN
    DELETE FROM [Session]
    WHERE DueDate < GETDATE();
END
GO
USE [master]
GO
